@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap");

:root {
  --tipografia: "Noto Sans JP", sans-serif;
  --color-header: #0062ff;
  --botones-textos: #212121;
  --blanco: #ffffff;
  --rojo: #ff0000;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--tipografia);
}
